<nav id="fixedMenu">
  <ul>
    <li><a href="{{ '/' | relative_url }}">The Syntheticist Papers</a></li>
    <li><a href="{{ '/Content1.html' | relative_url }}">Synthetic Summit: We Got A Win To World</a></li>
    <li><a href="{{ '/Content2.html' | relative_url }}">The Virtual Politicians</a></li>
    <li><a href="{{ '/Content6.html' | relative_url }}">A Genealogy of Political AI</a></li>
    <li><a href="{{ '/Content3.html' | relative_url }}">Pre-Summit Simulations</a></li>
    <li><a href="{{ '/Content4.html' | relative_url }}">Scheme for Visitors</a></li>
    <li><a href="{{ '/Content5.html' | relative_url }}">Scheme of The Synthetic Party</a></li>
    <li><a href="{{ '/Content7.html' | relative_url }}">Interview with Computer Lars &amp; Theoretical Synthesis</a></li>
    <li><a href="{{ '/Content8.html' | relative_url }}">Post-Script by Organ of Autonomous Sciences</a></li>
    <li><a href="{{ '/videos.html' | relative_url }}">Videos</a></li>
  </ul>
</nav>