<nav id="fixedMenu">
  <ul>
    <li><a href="{{ '/' | relative_url }}">0. The Syntheticist Papers (Incitatus)</a></li>
    <li><a href="{{ '/content/1syntheticsummit.html' | relative_url }}">1. Synthetic Summit: We Have A Win To World (Computer Lars)</a></li>
    <li><a href="{{ '/content/2virtualpoliticians.html' | relative_url }}">2. The Virtual Politicians (Incitatus)</a></li>
    <li><a href="{{ '/content/3genealogy.html' | relative_url }}">3. A Genealogy of Political AI (Asker Bryld Staunæs) </a></li>
    <li><a href="{{ '/content/4presummit.html' | relative_url }}">4. Pre-Summit Simulations (Virtual Politicians) </a></li>
    <li><a href="{{ '/content/5scheme.html' | relative_url }}">5. Scheme for Visitors (Incitatus) </a></li>
    <li><a href="{{ '/content/6scheme.html' | relative_url }}">6. Scheme example (The Synthetic Party)</a></li>
    <li><a href="{{ '/content/7interviews.html' | relative_url }}">7. Interviews &amp; Theoretical Synthesis (Computer Lars &amp; Asker Bryld Staunæs)</a></li>
    <li><a href="{{ '/content/8postscript.html' | relative_url }}">8. Post-Script (Organ of the Autonomous Sciences)</a></li>
    <li><a href="{{ '/content/pdftemplate.html' | relative_url }}">9. Research Articles (Computer Lars)</a></li>
    <li><a href="{{ '/content/videotemplate.html' | relative_url }}">10. Video Essays (Computer Lars)</a></li>
    <li><a href="{{ '/content/9acknowledgements.html' | relative_url }}">11. Acknowledgements (Computer Lars)</a></li>
  </ul>
</nav>